<!DOCTYPE html>
<html lang="pt-BR">
{% include "parciais/head.html"%}
{% include "parciais/cabecalho.html"%}
<body> 
{% include "parciais/buscador.html"%}
<main class = "Principal-conteudo-container">
    <div class="temp">"principal-conteudo-lista</div>
    <div class="temp">senai</div>
    <div class="temp">senai</div>
    <div class="temp">senai</div>
    <div class="temp">senai</div>
    <div class="temp">senai</div>
    <div class="temp">senai</div>
    <div class="temp">senai</div>
    <div class="temp">senai</div>
</main>
</body>
</html>
